/* to fix navbar overflow with fixed top by moving i down by 60px */
/* body::before {
    display: block;
    content: '';
    height: 60px;
} */

/* Fonts */
body {
    font-size: "Exo";
}

/* Colours */
/* credit - https://itsopensource.com/rainbow-text/ */
.rainbow-text {
    background: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);
    background-clip: text;
    color: transparent;
    font-size: 60px;
    font-weight: 900;
 }
 
/* Images Styling*/
.bg-hero-img {
    background-image: url(/assets/images/istockphoto-1571979279-612x612.jpg);
    min-height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ################ TEST CODE - REMOVE BEFORE DEPLOYMENT ################# */
/* Border for testing flex expanse */
.testing-border {
    border:orange; 
    border-width: 5px; 
    border-style: dotted;
}
